<div class="right_col" role="main">

  <div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top">
        <i class="fa fa-question"></i> Total Questions</span>
      <div class="count green">90,401</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top">
        <i class="fa fa-users"></i> Frequent Users</span>
      <div class="count">1,475</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top">
        <i class="fa fa-user"></i> Total Users</span>
      <div class="count">4,834</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top">
        <i class="fa fa-flag-checkered"></i> Total Countries</span>
      <div class="count">110</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
      <span class="count_top">
        <i class="fa fa-lightbulb-o"></i> Total Answers</span>
      <div class="count">1,209</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="x_panel">
          <div class="x_title">
            <h2>Filter
            </h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a class="collapse-link">
                  <i class="fa fa-chevron-down"></i>
                </a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" style="display:none">

            <div class="row">

              <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                <div id="reportrange_right" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                  <span>December 30, 2014 - January 28, 2015</span>
                  <b class="caret"></b>
                </div>
              </div>

              <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="flat"> Just with feedback
                  </label>
                </div>
              </div>


              <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                <input type="text" placeholder="Ip" class="form-control">
              </div>


              <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                <input type="text" placeholder="Question" class="form-control">
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Questions</h2>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">

            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title">Date </th>
                    <th class="column-title">IP </th>
                    <th class="column-title">Country </th>
                    <th class="column-title">Question </th>
                    <th class="column-title no-link last">
                      <span class="nobr">Action</span>
                    </th>
                    <th class="bulk-actions" colspan="7">
                      <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions (
                        <span class="action-cnt"> </span> )
                        <i class="fa fa-chevron-down"></i>
                      </a>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="even pointer">
                    <td class=" ">01/11/2017 12:36</td>
                    <td class=" ">174.28.16.20</td>
                    <td class=" ">UNITED STATES</td>
                    <td class=" ">medical technology</td>
                    <td class=" last">
                      <a routerLink="/question-detail">View</a>
                    </td>
                  </tr>
                  <tr class="odd pointer">
                    <td class=" ">01/11/2017 12:36</td>
                    <td class=" ">174.28.16.20</td>
                    <td class=" ">UNITED STATES</td>
                    <td class=" ">medical technology</td>
                    <td class=" last">
                      <a routerLink="/question-detail">View</a>
                    </td>
                  </tr>
                  <tr class="even pointer">
                    <td class=" ">01/11/2017 12:36</td>
                    <td class=" ">174.28.16.20</td>
                    <td class=" ">UNITED STATES</td>
                    <td class=" ">medical technology</td>
                    <td class=" last">
                      <a routerLink="/question-detail">View</a>
                    </td>
                  </tr>
                  <tr class="odd pointer">
                    <td class=" ">01/11/2017 12:36</td>
                    <td class=" ">174.28.16.20</td>
                    <td class=" ">UNITED STATES</td>
                    <td class=" ">medical technology</td>
                    <td class=" last">
                      <a routerLink="/question-detail">View</a>
                    </td>
                  </tr>
                  <tr class="even pointer">
                    <td class=" ">01/11/2017 12:36</td>
                    <td class=" ">174.28.16.20</td>
                    <td class=" ">UNITED STATES</td>
                    <td class=" ">medical technology</td>
                    <td class=" last">
                      <a routerLink="/question-detail">View</a>
                    </td>
                  </tr>
                  <tr class="odd pointer">
                    <td class=" ">01/11/2017 12:36</td>
                    <td class=" ">174.28.16.20</td>
                    <td class=" ">UNITED STATES</td>
                    <td class=" ">medical technology</td>
                    <td class=" last">
                      <a routerLink="/question-detail">View</a>
                    </td>
                  </tr>
                  <tr class="even pointer">
                    <td class=" ">01/11/2017 12:36</td>
                    <td class=" ">174.28.16.20</td>
                    <td class=" ">UNITED STATES</td>
                    <td class=" ">medical technology</td>
                    <td class=" last">
                      <a routerLink="/question-detail">View</a>
                    </td>
                  </tr>
                  <tr class="odd pointer">
                    <td class=" ">01/11/2017 12:36</td>
                    <td class=" ">174.28.16.20</td>
                    <td class=" ">UNITED STATES</td>
                    <td class=" ">medical technology</td>
                    <td class=" last">
                      <a routerLink="/question-detail">View</a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>

</div>

