<div class="right_col" role="main">


  <div id="totals" *ngIf='!answerId'>
    <div class="row tile_count">
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top">
          <i class="fa fa-question"></i> Total Questions</span>
        <div class="count green">{{statistic?.totalQuestion | number}}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top">
          <i class="fa fa-user"></i> Total Users</span>
        <div class="count">{{statistic?.totalUsers | number}}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top">
          <i class="fa fa-flag-checkered"></i> Total Countries</span>
        <div class="count">{{statistic?.totalCountries | number}}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top">
          <i class="fa fa-users"></i> Frequent Users</span>
        <div class="count">{{statistic?.totalFrequentUsers | number}}</div>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top">
          <i class="fa fa-lightbulb-o"></i> Total Answers</span>
        <div class="count">{{statistic?.totalAnswers | number}}</div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf='!answerId'>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="x_panel">
          <div class="x_title">
            <h2>Filter
            </h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a class="collapse-link">
                  <i class="fa fa-chevron-down"></i>
                </a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <app-message></app-message>
          <div class="x_content" style="display:none">

            <div class="row">

              <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                <div id="reportrange_right" class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                  <span>December 30, 2014 - January 28, 2015</span>
                  <b class="caret"></b>
                </div>
              </div>

              <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="flat"> Just with feedback
                  </label>
                </div>
              </div>

              <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                <input type="text" (change)="filterByText()" [(ngModel)]="filter.ipFilter" placeholder="Ip" class="form-control">
              </div>


              <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                <input type="text" (change)="filterByText()" [(ngModel)]="filter.question" placeholder="Question" class="form-control">
                <br>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

      <div class="col-md-12 col-sm-12 col-xs-12">
         <div class="Loader" *ngIf='loading' >Loading...</div>
        <div class="x_panel" *ngIf='!loading'>
          <div class="x_title">
            <h2>{{questions?.length}} Questions
              <span *ngIf='answerId'>from Answer Nº{{answerId}}</span>
            </h2>
            &nbsp;
            <button *ngIf='answerId' type="button" (click)="backList()" class="btn btn-primary">Back</button>
            <div class="clearfix"></div>

          </div>

          <div class="x_content">



            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                    <th class="column-title">Date </th>
                    <th class="column-title">IP </th>
                    <th class="column-title">Country </th>
                    <th class="column-title">Question </th>
                    <th class="column-title no-link last">
                      <span class="nobr">Action</span>
                    </th>
                    <th class="bulk-actions" colspan="7">
                      <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions (
                        <span class="action-cnt"> </span> )
                        <i class="fa fa-chevron-down"></i>
                      </a>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="even pointer" *ngFor="let question of questions">
                    <td class=" ">{{question.creationDate}}</td>
                    <td class=" ">{{question.ip}}</td>
                    <td class=" ">{{question.country}}</td>
                    <td class=" ">{{question.text}}</td>
                    <td class=" last">
                      <a (click)="openDetail(question.id)" onmouseover="this.style.cursor='pointer';">View</a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>



          </div>

        </div>

      </div>

    </div>

  </div>

</div>


<!-- The overlay -->
<div #divDetail class="overlay">
  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" (click)="closeDetail()">&times;</a>
  <!-- Overlay content -->
  <div class="overlay-content" *ngIf='question'>
        <app-message></app-message>
        
        <div class="x_content">
            <h3 class="space-down">Question : "{{question.text}}"</h3>

            <h3 class="space-down">{{question.creator}}</h3>

            <ul class="list-unstyled user_data space-down">
              <li>
                <i class="fa fa-map-marker user-profile-icon"></i> {{question.country}} (IP:{{question.ip}})
              </li>

              <li class="m-top-xs" *ngIf="question.email">
                <i class="fa fa-envelope-o user-profile-icon"></i> {{question.email}}
              </li>

              <li class="m-top-xs">
                <i class="fa fa-clock-o user-profile-icon"></i> {{question.date}}
              </li>
            </ul>


          <div class="tab-pane active" id="home">
            <p class="lead">{{question.answer.number}} - {{question.answer.question}}</p>

            <p [innerHTML]='question.answer.content'></p>
            
              <footer>From video {{question.answer.video.number}} # -
                <cite title="Source Title">{{question.answer.video.creationDate}}</cite>
              </footer>
            
          </div>

          <ul class="messages" *ngIf="question.feedback">
              <li>
                <img src="assets/images/img.jpg" class="avatar" alt="Avatar">
                <div class="message_wrapper">
                  <h4 class="heading">Comments</h4>
                  <blockquote class="message">{{question.feedback}}</blockquote>
                </div>
              </li>
            </ul>

        </div>
        
        
            
  </div>
</div>