    <div id="snackbar" [class]="snackClass">{{snackMessage}}</div>
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
  
        <div class="login_wrapper">
          <div class="animate form login_form">
            <section class="login_content">
              <form>
                <h1>Login Form</h1>
                <div>
                  <input #user type="text" class="form-control" placeholder="Username" required="" />
                </div>
                <div>
                  <input #password type="password" class="form-control" placeholder="Password" required="" />
                </div>
                <div>
                  <a class="btn btn-default submit" (click)="login(user.value,password.value)" >Log in</a>
                </div>
  
                <div class="clearfix"></div>
  
                <div class="separator">
                  <div class="clearfix"></div>
                  <br />
  
                  <div>
                    <h1><i class="fa fa-space-shuttle"></i> Ask Alien Console</h1>
                    <p>©2017 Muniz</p>
                  </div>
                </div>
              </form>
            </section>
          </div>
       
        </div>
      </div>
    
  