<div class="right_col" role="main">
  <div class="x_panel">
    <div class="x_title">
      <h2>Visitors location
        <small>geo-presentation</small>
      </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="dashboard-widget-content">
        <div class="col-md-4 hidden-small">
          <h2 class="line_30">{{countQuestions}} Views from {{countries?.length}} countries</h2>

          <table class="countries_list">
            <tbody>
              <tr *ngFor="let country of countries">
                <td>
                  {{country.country}}</td>
                <td class="fs15 fw700 text-right"> {{country.countQuestions}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="world-map-gdp" class="col-md-8 col-sm-12 col-xs-12" style="width: 66%; height: 400px;"></div>
      </div>
    </div>
  </div>
</div>
