<div class="right_col" role="main">
    
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
    
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Answers</h2>
                  <div class="col-md-2 col-sm-2 col-xs-4">
                      <input #filterId (keyup)="getAnswer(filterId.value)" placeholder="filter by ID" type="number" class="form-control col-md-7 col-xs-12">
                  </div>
                <div class="clearfix"></div>
              </div>
              <app-message></app-message>
              <div class="Loader" *ngIf='loading' >Loading...</div>
              <div class="x_content" *ngIf='!loading'>
    
                <div class="table-responsive">
                  <table class="table table-striped jambo_table bulk_action">
                    <thead>
                      <tr class="headings">
                        <th class="column-title">Nº </th>
                        <th class="column-title">Question </th>
                        <th class="column-title no-link last" *ngIf="isAdmin()">
                          <span class="nobr">Action</span>
                        </th>
                      </tr>
                    </thead>
    
                    <tbody>
                      <tr class="even pointer" *ngFor="let answer of answers">
                        <td class=" ">{{answer.id}}</td>
                        <td class=" ">{{answer.question}}</td>
                        <td class=" last" *ngIf="isAdmin()">
                          <a routerLink="/answer/{{answer.id}}">Edit</a>
                        </td>
                      </tr>
    
                    </tbody>
                  </table>
                </div>
    
              </div>
            </div>
          </div>
    
        </div>
      </div>
    </div>
 