<div class="right_col" role="main">
    
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
    
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>Videos</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a (click)="addVideo()" data-toggle="modal" data-target=".video-dialog"><i class="fa fa-plus"></i></a>
                    </li>
                  </ul>
                <div class="clearfix"></div>
              </div>
              <app-message></app-message>
              <div class="x_content">
    
                <div class="table-responsive">
                  <table class="table table-striped jambo_table bulk_action">
                    <thead>
                      <tr class="headings">
                        <th class="column-title">Nº </th>
                        <th class="column-title">Date </th>
                        <th class="column-title no-link last">
                          <span class="nobr">Action</span>
                        </th>
                      </tr>
                    </thead>
    
                    <tbody>
                      <tr class="even pointer" *ngFor="let video of videos">
                        <td class=" ">{{video.number}}</td>
                        <td class=" ">{{video.formatedCreationDate | date:"MM/dd/yyyy"}}</td>
                        <td class=" last">
                          <a (click)="setVideo(video)" data-toggle="modal" data-target=".video-dialog" href="#">Edit</a>
                        </td>
                      </tr>
    
                    </tbody>
                  </table>
                </div>
    
              </div>
            </div>
          </div>
    
        </div>
      </div>
    </div>
 
  <div class="modal fade video-dialog" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2" *ngIf="video && video.id==null">New Video</h4>
            <h4 class="modal-title" id="myModalLabel2" *ngIf="video && video.id!=null">Edit Video {{video.id}}</h4>
          </div>
          <form class="form-horizontal form-label-left" novalidate >
            <div class="modal-body">
          
                  <div class="item form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="video">Number
                      <span class="required">*</span>
                    </label>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <input *ngIf='video' [(ngModel)]='video.number' [ngModelOptions]="{standalone: true}" type="number" id="video" name="video" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>

                  <div class="item form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12" for="date">Date
                      <span class="required">*</span>
                    </label>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class='input-group date' id='myDatepicker'>
                            <input *ngIf='video' [(ngModel)]='video.formatedCreationDate' [ngModelOptions]="{standalone: true}" id="date" class="form-control col-md-7 col-xs-12" name="date" required="required" type="date">
                            <input *ngIf='video' [(ngModel)]='video.id' [ngModelOptions]="{standalone: true}" id="id" type="hidden">
                        </div>
                    </div>
                  </div>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" #closeModal>Cancel</button>
              <button (click)="saveVideo()" type="submit" class="btn btn-primary">
                  <span *ngIf="video && video.id!=null">Save Changes</span>
                  <span *ngIf="video && video.id==null">Add Video</span>
              </button>

            </div>
          </form>  
        </div>
      </div>
    </div>